apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: k8s-boot
  name: k8s-boot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-boot
  strategy: {}
  template:
    metadata:
      labels:
        app: k8s-boot
    spec:
      containers:
        - image: k8s-boot:1
          name: k8s-boot
          resources: {}
          livenessProbe:
            periodSeconds: 5
            failureThreshold: 3
            httpGet:
              path: /actuator/health/liveness
              port: 8080
          readinessProbe:
            periodSeconds: 3
            failureThreshold: 3
            httpGet:
              path: /actuator/health/readiness
              port: 8080
          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 10"]
